<div class="conatiner">
    <div class="row">
        <div class="col-4 text-center">
            <img [src]="img_url" height="70%">
        </div>
        <div class="col-6 text-center">
            <div class="row text-center">
                <b><span class="sp"><h3>{{ str }}</h3></span></b>
            </div><br>
            <img [src]="img_url1" height="60%" width="80%">
           
        </div>
        <div class="col-2 text-center ">
            <!-- timer -->
            <h1 class="cir">{{count}}</h1>
        </div>
    </div>
</div>